<section class="main-content"></section>
<footer>
    <nav class="contact-nav">
        <a href="https://github.com/Christolml" target="_blank" title="GitHun">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://gitlab.com/christolml" target="_blank" title="GitLab">
            <i class="fa fa-gitlab"></i>
        </a>
        <a href="https://www.facebook.com/ChrisVelaz16" target="_blank" title="Facebook">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="mailto:christo_9722@hotmail.com?subject=Contacto"><i class="fa fa-envelope-square"></i></a>
    </nav>
</footer>