<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Vue Go</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
</head>
<body>

    <nav class="navbar navbar-dark bg-dark" >
        <a href="/" class="navbar-brand">Chat Vue Go</a>
    </nav>

    <div class="container mt-5" >
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div id="chat-app" class="card">
                    <div class="card-body">
                        <ul>
                            <li v-for="message in messages">
                                {{message.text}} - {{message.date}}
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <form action="">
                            <input type="text" class="form-control" v-model="message" >
                            <button @click.prevent="sendMessage" type="submit" class="btn btn-dark btn-block">
                                Send
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" ></script>


    <script src="main.js" ></script>
</body>
</html>